.authentication__header {
    color: rgb(39, 35, 35);
    text-align: center;
  }
  
  .authentication {
    width: 90%;
    max-width: 25rem;
    padding: 1rem;
    margin: 7rem auto;
    text-align: center;
  }
  
  .authentication form {
    margin-bottom: 1rem;
  }
  